<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolzapp</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="root" class="container">
            <div class="window-app">
                <div class="left-window">
                    <div id="user-part">
                        <div id="avatar">
                            <img :src="myAvatar" alt="">
                        </div>
                        <div class="right-user">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div id="notif">
                        <div class="left-notif">
                            <i class="far fa-bell-slash fa-2x"></i>

                        </div>
                        <div class="right-notif">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <p>
                                <a href="#">Attiva notifiche di desktop</a>
                            </p>

                        </div>


                    </div>
                    <div id="search">
                        <i class="fas fa-search"></i>
                        <input class="fontawesome" type="search" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <div id="contacts">
                        <div @click="getUser(object)" class="contact" v-for="(object, index) in contacts">
                            <div class="left-list">
                                <img :src="object.avatar" alt="">
                            </div>
                            <div class="right-list">
                                <p>
                                    <strong>{{object.name}}</strong>
                                </p>
                                <p>Lorem ipsum dolor sit amet,</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="right-window">
                    <div class="top-right">
                        <div class="left-side">
                            <div class="current-av">
                                <img :src="current.avatar" alt="">
                            </div>
                            <div class="current-name">
                                {{current.name}}
                                <p>Ultimo accesso oggi alle 12.40</p>
                            </div>
                        </div>
                        <div class="right-side">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                    </div>
                    <div class="chat-box">
                        <div  v-for="msg in current.messages" class="message"
                        :class="msg.status">{{msg.message}}</div>
                    </div>
                    <div class="bottom-right">
                        <div class="left-foot">
                            <i class="far fa-smile"></i>
                        </div>
                        <div class="center-foot">
                            <input type="text" placeholder="Scrivi un messaggio">

                        </div>
                        <div class="right-foot">
                            <i class="fas fa-microphone"></i>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
