* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    height: 100vh;
    position: relative;
}

.container::after, .container::before {
    width: 100%;
    content: '';
    display: block;
}

.container::before {
    height: 20%;
    background-color: #128C7E;
}

.container::after {
    height: 80%;
    background-color: #f7f7f7;
}

.window-app {
    width: 90%;
    height: 90%;
    border: 2px solid #eeeeee;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

/* COMMON PART BETWEEN LEFT AND RIGHT WINDOW */

.left-window, .right-window {
    height: 100%;
}

.left-window {
    width: 30%;
    background-color: #fefefe;
}

/* LEFT PART WINDOW */

#user-part, #notif, .top-right {
    height: 10%;
    width: 100%;
}

#user-part {
    border-right: 1px solid gray;
}

#username {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* RIGHT PART WINDOW */

.chat-box {
    height: 85%;
    width: 100%;
    background-image: url(https://i.imgur.com/TnNwdvV.png);
    overflow-y: auto;
}

.chat-box .message:first-child {
    margin-top: 30px;
}

/* CHATBOX */

.message {
    max-width: 300px;
    padding: 15px;
    clear: both;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.sent {
    background-color: #DCF8C6;
    float: right;
    margin-right: 50px;
}

.received {
    background-color: #fefefe;
    float: left;
    margin-left: 50px;
}

.win {
    width: 150px;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    border-radius: 2px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px 0;
}

.win p {
    padding: 5px 0;
    cursor: pointer;
}

.win.active {
    display: block;
    display: flex;
}

.win.not-active{
    display: none;
}

/* CONTACTS PART */
.right-list {
    width: calc(100% - 70px);
    height: 70px;
    float: left;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding-left: 10px;
}

.left-list {
    float: left;
    width: 70px;
    height: 70px;
}

.left-list img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
}

#contacts .contact::after {
    clear: both;
    display: table;
    content: '';
}

#contacts .contact {
    cursor: pointer;
    border-bottom: 1px solid gray;
}

#contacts .contact:hover {
    background-color: gray;
}

#contacts .contact.colored {
    background-color: gray;
}


#contacts {
    height: 75%;
    width: 100%;
    overflow-y: auto;
}

/* USER PART */

#user-part img, .current-av img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#user-part {
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
}

.right-user {
    display: flex;
    align-items: center;
}

.right-user i{
    margin: 0 8px;
    cursor: pointer;
    color: #747474;
    font-size: 25px;
}

/* NOTIFICASIONS */

#notif {
    background-color: #33b5efbf;
    display: flex;
}

.left-notif, .right-notif {
    display: flex;
}

.left-notif {
    width: 20%;
    justify-content: center;
    align-items: center;
}

.right-notif {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fa-bell-slash {
    border-radius: 50%;
    border: 1px solid white;
    padding: 5px;
    background-color: white;
    color: #33b5efbf
}

#notif a {
    color: grey;
}

/* SEARCH */

#search {
    height: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
}

#search input {
    border: none;
    padding: 10px;
    width: 100%;
}

#search i {
    margin: 0 30px;
}

/* RIGHT WINDOW TOP PART */

.right-window {
    width: 70%;
    background-color: #eeeeee;
}

.current-av {
    width: 12%;
    float: left;
}

.current-av img {
    max-width: 70px;
}

.current-name {
    height: 100%;
    width: 85%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}



.current-name .active {
    display: block;
}

.top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side {
    display: flex;
    justify-content: space-around;
}

.right-side i {
    font-size: 25px;
}

.left-side {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side {
    width: 20%
}

/* BOTTOM RIGHT */

.left-foot, .right-foot {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.center-foot {
 width: 80%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.center-foot input {
 padding: 10px;
 width: 100%;
 height: 80%;
 border-radius: 5px;
 border: none;
}

.bottom-right {
 display: flex;
 background-color: #eeeeee;
}

.bottom-right i, .right-side i {
    color: #747474;
    cursor: pointer;
}

.bottom-right {
    height: 5%;
    width: 100%;
}
