* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    height: 100vh;
    position: relative;
}

.container::after, .container::before {
    width: 100%;
    content: '';
    display: block;
}

.container::before {
    height: 20%;
    background-color: #128C7E;
}

.container::after {
    height: 80%;
    background-color: #f7f7f7;
}

.window-app {
    width: 90%;
    height: 90%;
    border: 2px solid black;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

/* COMMON PART BETWEEN LEFT AND RIGHT WINDOW */

.left-window, .right-window {
    height: 100%;
}

.left-window {
    width: 30%;
    background-color: #fefefe;
}

.right-window {
    width: 70%;
    background-color: gold;
}

/* LEFT PART WINDOW */

#user-part, #notif, #search, .top-right, .bottom-right {
    height: 10%;
    border: 1px solid black;
    width: 100%;
}

#contacts {
    height: 70%;
    width: 100%;
    overflow-y: scroll;
}

/* RIGHT PART WINDOW */

.chat-box {
    height: 80%;
    width: 100%;
    background-image: url(https://i.imgur.com/TnNwdvV.png);
    overflow-y: scroll;
}

/* CONTACTS PART */
.right-list {
    width: calc(100% - 70px);
    border: 1px solid black;
    height: 70px;
    float: left;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding-left: 10px;
}

.left-list {
    float: left;
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

.left-list img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
}

.contacts li::after {
    clear: both;
    display: table;
    content: '';
}

.contacts li:hover {
    background-color: grey;
}

/* USER PART */

#user-part img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#user-part {
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
}

.right-user {
    display: flex;
    align-items: center;
}

.right-user i{
    margin: 0 8px;
    cursor: pointer;
    color: #747474;
}

/* NOTIFICASIONS */

#notif {
    background-color: #33b5efbf;
    display: flex;
}

.left-notif, .right-notif {
    display: flex;
}

.left-notif {
    width: 20%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.right-notif {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fa-bell-slash {
    border-radius: 50%;
    border: 1px solid white;
    padding: 5px;
    background-color: white;
    color: #33b5efbf
}

#notif a {
    color: grey;
}
